body { padding: 0; margin: 0; }
.CodeMirror, #lbar, #tip { font-family: "APL385 Unicode", monospace; }
#lbar { background-color: #d4d0c8; padding: 2px 2px 2px 24px; cursor: default; }
#lbar .glyph { padding: 0; margin-right: -1px; border: solid black 1px; }
#lbar .glyph:hover { outline: solid black 1px; }
#lbar-close {
	float: right;
	color: black;
	background-color: #eee;
	border: solid #ddd 1px;
	border-radius: 16px;
	width:         16px;
	height:        16px;
	line-height:   16px;
	text-align: center;
	text-decoration: none;
}
#lbar-close:hover {
	font-weight: bolder;
	background-color: orange;
	border-color: black;
}
#tip {
	position: absolute;
	z-index: 3;
	padding: 0;
	margin: 0;
}
#tip-img {
	margin-left: 20px;
}
#tip-inner {
	margin-top: -5px;
	background: #ffffe1 url(i.png) 10px 10px no-repeat;
	padding: 10px;
	border-radius: 10px;
	border: solid black 1px;
}
#tip-desc { padding: 0 0 0 30px; margin: 0; font-weight: bold; }
.ui-layout-resizer { background-color: #d4d0c8; }
.ui-layout-toggler { background-color: #808080; }
.ui-layout-resizer:hover .ui-layout-toggler { background-color: orange; }
