@font-face { font-family: apl; src: url(apl385-opt.ttf) format("truetype"); }
body { padding: 0; margin: 0; }
.CodeMirror, .CodeMirror-hints, #lbar, #tip, .toolbar, .search {
	font-family: apl, monospace;
}
#lbar { background: #d4d0c8; padding: 2px 2px 2px 10px; cursor: default; line-height: 22px; }
#lbar b { padding: 0 1px; margin-right: -1px; border: solid black 1px; font-weight: normal; }
#lbar b:hover { outline: solid black 1px; }
#lbar-close {
	float: right;
	color: black;
	background: #eee;
	border: solid #ddd 1px;
	border-radius: 16px;
	width:         16px;
	height:        16px;
	line-height:   16px;
	text-align: center;
	text-decoration: none;
}
#lbar-close:hover {
	font-weight: bolder;
	background: orange;
	border-color: black;
}
#tip-triangle {
	position: absolute;
	z-index: 4;
	padding: 0;
	margin: 0;
	width: 20px;
	height: 19px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAYAAACAl21KAAAAcUlEQVQ4y6WTUQ7AMAhCDfe/5E7CvpZsmVVEfmvoA9uIWgxREGa4NZJpWiLykk3R0bzMPKLEgNuyJSoMS+aIKCPoqGCsnBJRdXN1hvDEyojDDfJIpD6+bA7Ov8pSYEpzmnfL/lFhEetDBSdW5rmO9kDcybhABXRYE1UAAAAASUVORK5CYII=) center center no-repeat;
}
#tip {
	position: absolute;
	z-index: 3;
	background: #ffffe1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAsklEQVQoz5VS2xHDIAyTuOyRUZilk2Am6SpkFCZRP0iJC6S96vwDJ/khm1LFGzk/MSGlh39unppSmgUkAVx5pWpmcgDO6CilNKZUw5zSLA8/Mcar4SH9HXqRsULOmUSLZZEweZLmljwC/kQAcBzHT97FGWztnnpn28RmJtXTXQCllC/+mNmHoC/SyxrVs6VKf0sAyL3JYowkzWw4p20YrunJXdLy+Na2SpXD5u4qeM3y2l8gjORluK0/wAAAAABJRU5ErkJggg==) 10px 10px no-repeat;
	padding: 10px;
	border-radius: 10px;
	border: solid black 1px;
	margin-top: 20px;
}
#tip-desc { padding: 0 0 0 30px; margin: 0; font-weight: bold; }
.ui-layout-resizer { background: #d4d0c8; }
.ui-layout-toggler { background: #808080; }
.ui-layout-resizer:hover .ui-layout-toggler { background: orange; }
.toolbar { background: #d4d0c8; cursor: default; overflow: hidden; padding: 1px; }
.button {
	float: left;
	width: 24px;
	height: 24px;
	border: solid transparent 1px;
	text-align: center;
	font-weight: bold;
	background: no-repeat center center;
	text-indent: -9999px;
}
.button:hover { border-color: #fff #808080 #808080 #fff; }
.button.armed { border-color: #808080 #fff #fff #808080; }
.button.pressed {
	border-color: #808080 #fff #fff #808080;
	background-color: #eee;
	/*background: 0 0 repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAF0lEQVQI12O4cuHE////Gf///3/14kkAS/EK11k4g7IAAAAASUVORK5CYII=);*/
}
.b-line-numbers { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAALElEQVQoz2NkYGD4z4AAjAz4wX8MBpHgPxMDGWBgNP0nkh6WAcFIQoqAqwMADDENBizwvaoAAAAASUVORK5CYII=); }
.b-comment      { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAAP0lEQVQY052QSQ4AMAgCoen/v0yv1kq3OSExRCRmFDSzEDzs2ahSGQYWKQKAhguel+Sa8tBsSaJrunvB/+GWAWT9CBiHRFQ/AAAAAElFTkSuQmCC); }
.b-uncomment    { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAVElEQVQoz5WQSQ7AMAgDB5T/f9m5VBUKOFU5gTVmC+ZQyeMR9BYGHMVlJkSBVcTIoZGDAUj8EQ22hnMNboYBljWoX92+lhd4LNfXzm2C+4Y1/IEBNtT4GBWRRLxNAAAAAElFTkSuQmCC); }
.b-save         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAUElEQVQoz62RQRKAMAgDN/z/z/HgpbUC7ShHkg0MCDB3ib4MEM9GB4zpI6AKAKRMqPqqErOgbpVXX2QG22nwL5N2jsGn6x3/qQMWMDaBSb8AqVkXDhpzEQoAAAAASUVORK5CYII=); }
.b-next         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAYAAAB2HjRBAAAAlElEQVQoz51SQQ6DMAxzKh7HkcMelAdx4MgTxm1I8B7vAiGkLYy5atVadZwmFZxBt5c7PgUxVBWlgAUeDX4BAZVc7J1J0ruz8iBW0351ba0G8WRic8U5leIT9jXhH7gA3JxJkqrKnbMZx8Ynn946Twj9lMxVjrY9S1uA5fNGtdpXwlhAE6/zhH4YL4XxjuTdu/3bhi/VzVM06LqX9QAAAABJRU5ErkJggg==); }
.b-prev         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAYAAAB2HjRBAAAAiklEQVQoz52SQQ6AIAwEW+LDeZAHjz4Bb5jge9aDgK0WRZcDBJimu8CkBbHmt313gcl7bwFyn55hUJeGW2t3EABkcZTWta+GYwkzn5wzQQO6eEeB0evRDoztw9xina1nRU4EaujoUJRiQA4NTvnjP21npRg+Fajwti40TvORZqNAuSNfs5V1629X7aMBT1K30kDCAAAAAElFTkSuQmCC); }
.b-hid          { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAM0lEQVQY02NkYGD4z0ACIFbxfyZSDGAixQkkKWbBYzUynxGf+/6T4kEGmnmQEZcg0TEIAD52Cgt7bIghAAAAAElFTkSuQmCC); }
.b-case         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAApUlEQVQoz5WRwW1AMQhDX/8kjOJRGIVRMopHySb0kKY/VXNokZBiiGzA8Mco0UCr3Pw37GqhltSofhA8AB7ViqVwVbFxiEwRNuWjb1crqsdXcaSaA+/xIxfOeN/3cUd1oN4qG+e4CzzfxT1+FvMgnDYzhGLhkIhpvD+51FwUN87jNmfuNZ7LCpzkY4ocBvjYOVLMUe8xt8eLeVlWdpf4Zdt7+OXWJzTYkq1y7T79AAAAAElFTkSuQmCC); }
.b-refac-m      { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAASUlEQVQoz+1QsQ0AIAwC4/8v46itNak6uMgEAwQgOjRwIolilLCNurAp24QAFEbkRpCmgXbW9w8Y2Oj4UpeD2tOJF3bf4Ae8CWiPnwgkRmh7AAAAAABJRU5ErkJggg==); }
.b-refac-f      { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAATUlEQVQoz9WRwQoAIAhDXfj/v7yOFWnMOrWTwh6OCRviNMMEtWWjleQJQiWBbxdjjDmMyYI0RQhDLAznwlArTLFTe5XVX3Wd8unyp3AHAtoLJI9gezMAAAAASUVORK5CYII=); }
.b-refac-p      { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAATklEQVQoz9VROQ4AMAgS4/+/TMfeLY1TmTRIQIVVsKlhArzraE+IjYRKgpgc17KVAdARnEQ4LRPN+O1gGJP4lhagjFN71aNxZFJmnH8VF0YgDSFe4qzWAAAAAElFTkSuQmCC); }
.b-over         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAAV0lEQVQoz7WSQQ4AIAjDmP//Mx5VZAoSezImayYokkPtRZM8iwTMHACvDUroY1s+xDKoWpctqMZcAMbRvu8mmcNzg5DEhj0BlXhhJtgkLHwSeDvHl5/XAUiMHgW4AqanAAAAAElFTkSuQmCC); } 
.b-into         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAAYElEQVQoz7WSQRKAIAwDN47//3I8cLHaFkbGnBgS2gUqhkwvVcbBz/KMbptgu8DZICq5ThkygB0z0rCrfUB6drB9D0SE6KnEzIpkh9uv8+B+rVcnLLxJ11kTktXs90m8AO06Lv5GZdYVAAAAAElFTkSuQmCC); }
.b-back         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAYAAAB2HjRBAAAAR0lEQVQoz53RSQoAMAgDwJj//9mehFLURr2GcUGgLkdfzi0EAG5hhmX44hG88RgGXsHA9sHWYWwbUJlQ5VRXzHJObhRz7X0H0E4QEZoksM0AAAAASUVORK5CYII=); }
.b-skip         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAYAAAB2HjRBAAAATElEQVQoz6WSSQ4AIAjE6vz/z3oyMUZWuZYGmAAw8cvkiho8rswEiyu74ourcuPNVQ3p5OqkvLknj0Ae6orW2inxJafFWy6J/LwmwAL/zhARK92qCgAAAABJRU5ErkJggg==); }
.b-cont-trace   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAPCAYAAADZCo4zAAAATUlEQVQY04WRwQ4AIAhCkf//Z7pUKxPzoo43cQoAQhOcWT/AQgQASRbaExx0WpQQ88gMsVrshEogInbJTnwssngBlbgapd6eOtw/2m8OVosZE8ulkO0AAAAASUVORK5CYII=); }
.b-cont-exec    { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAPCAYAAADZCo4zAAAAQUlEQVQY042QMQ4AMAgCwf//mS5NB1uhLMbkIiAACEa1pxIwQtV2JeCCarBWAg7E35qT6AC6C3QWdBnoQhLpKS8tmM4JF2UN3wwAAAAASUVORK5CYII=); }
.b-restart      { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAPCAYAAADZCo4zAAAASklEQVQY04WRSQ4AMAgCkf//2V7adBGsFzVMRCMAJJrgzPkDLMRHSj/BQLxwAbGYPhDl6gekgdgVO7FaRK3YiatJOUOcGe4f7TcHBQMPFVo2WnYAAAAASUVORK5CYII=); }
.b-edit-name    { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAIAAAB7HQGFAAAAUUlEQVQoz62QwQoAIAhDm///YXUrqO9Zh0gMjDy0k7LhU1P6K5CM5OQxBgBwtUlajs90Q/5+ylJXIiGHeKOLNUYrx07mUuHW6nvNWtMo+uffmsCkTK6tlFL9AAAAAElFTkSuQmCC); }
.b-quit         { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAUElEQVQoz62RQRKAMAgDN/z/z/HgpbUC7ShHkg0MCDB3ib4MEM9GB4zpI6AKAKRMqPqqErOgbpVXX2QG22nwL5N2jsGn6x3/qQMWMDaBSb8AqVkXDhpzEQoAAAAASUVORK5CYII=); }
.b-interrupt    { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAHElEQVQY02NkYGD4z4AAjFAaLsbEQACMKqCbAgBUAgIZzGAL5AAAAABJRU5ErkJggg==); }
.b-cutback      { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAAh0lEQVQoz5VSWw4EMQgCMwf35uxHxw3r1nmQNE1bi4gCM3SuLWIIEABI2hEIgKIHr/i/ROwEcV72z3dgGOMrRJNzZRQy83txNHkEIHJx1D5mlOQO7lM2w2IR0x8f1XuURJIy21+Z8yPV5N/WWw2WIzPlb0UeV42v4r0NfZSm8zw6Fvh0egQAH95HSnaw0XqwAAAAAElFTkSuQmCC); }
.separator {
	float: left;
	width: 10px;
	height: 24px;
	background: no-repeat center center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAASCAIAAAD+ApjoAAAAGElEQVQI12NoaGj4//8/EwMDAwMDA70pACyPBKBkf6chAAAAAElFTkSuQmCC);
}
.search { float: left; height: 18px; width: 200px; }
.CodeMirror-linenumber { color: #00f; text-align: left; }
.CodeMirror-gutters { border-right-color: transparent; background: transparent; }
.hidden { display: none; }
.modified { background: #eee; }
.highlighted { border: solid red 1px; }
#debugger .CodeMirror { background: #dfdfdf; }
.CodeMirror-hints {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	   -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	        box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	border: 1px solid black;
	background: #ffffe1;
	font-size: 90%;
	max-height: 20em;
	overflow-y: auto;
}
.CodeMirror-hint { margin: 0; padding: 0 2px; max-width: 19em; overflow: hidden; white-space: pre; color: black; cursor: pointer; }
.CodeMirror-hint-active { background: #0a246a; color: white; }
.CodeMirror-matchingbracket { color: black !important; background: #ff8; }
.breakpoints { width: 10px; }
.breakpoint { color: #822; }
