#cn input:not([type=button]):not([type=file]):not([type=submit]):not([type=checkbox]),
#cn textarea {
  border: 1px solid rgba(169, 169, 169, 0.3);
  background-color: #272937;
  color: white;
}
#cn input:not([type=button]):not([type=file]):not([type=submit]):not([type=checkbox]):disabled,
#cn textarea:disabled {
  background-color: rgba(169, 169, 169, 0.3);
  border-color: rgba(169, 169, 169, 0.3);
  color: #a9a9a9;
}
#cn input:not([type=button]):not([type=file]):not([type=submit]):not([type=checkbox]):disabled::-webkit-input-placeholder,
#cn textarea:disabled::-webkit-input-placeholder {
  color: #a9a9a9;
}
#cn input:not([type=button]):not([type=file]):not([type=submit]):not([type=checkbox])::placeholder,
#cn textarea::placeholder {
  color: #a9a9a9;
}
#cn hr {
  background-color: #a9a9a9;
  border-color: #a9a9a9;
  color: #a9a9a9;
  border-top: 1px solid black;
  border-bottom: 1px solid #2e303e;
}
#cn .hsplitbar {
  background: rgba(118, 136, 217, 0.3) url(img/grabber_vert.png) no-repeat center !important;
  border-right: solid 1px black;
  border-left: solid 1px black;
}
#cn_favs > div.list_sel {
  background: #21222e;
  color: #7688d9;
  opacity: 1;
}
#cn_favs > div.list_sel .go {
  color: #7688d9;
}
#cn_favs > div.list_sel .go:hover {
  color: #4c4a4a;
}
#cn_favs .list-focus {
  outline: dotted black 1px;
}
#cn_favs > div {
  background: #21222e;
  color: #a9a9a9;
}
#cn_fav_btns {
  background: linear-gradient(#1c1e28, black);
}
#cn_lhs {
  background: #272937;
}
#cn,
#cn_rhs {
  background: linear-gradient(#1c1e28, black);
}
#cn_env_add {
  color: #a9a9a9;
}
.cn_dlg_content {
  color: #a9a9a9;
  line-height: 1.5em;
}
.cn_dlg_content .fa_icon {
  font-size: 40px;
}
.cn_dlg_content pre {
  font-size: 16px;
  font-family: monospace;
}
.ctl_listview {
  background-color: #1c1e28;
  color: white;
}
.ctl_listview tr {
  background-color: rgba(118, 136, 217, 0.5);
  border-bottom: 1px solid #1c1e28;
}
.ctl_listview tr:hover {
  background-color: rgba(118, 136, 217, 0.25);
}
.ctl_listview tr.selected {
  background-color: #1c1e28;
}
#debug {
  background: #1c1e28;
}
#debug .ctl_listview_header {
  background-color: #7688d9;
  color: white;
}
#debug .ctl_listview_header h2 {
  font-size: 16px;
}
/*various dialogs*/
#dlg_modal_overlay {
  background-color: black;
  opacity: 0.2;
}
.dlg {
  background-color: #1c1e28;
}
.dlg_title,
.dlg_close {
  color: #7688d9;
}
.dlg_close:hover {
  background-color: white;
}
#cn_listen_dlg,
#cn_connecting_dlg {
  border: 1px solid #7688d9;
}
#gd.dlg {
  background-color: #1c1e28;
}
#gd .dlg_title,
#gd .dlg_close {
  color: #828282;
}
#gd .dlg_close:hover {
  color: white;
  background-color: #323446;
}
#gd_content {
  color: #a9a9a9;
}
.dlg_btns {
  background-color: #323446;
}
.dlg_btns button.task {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  color: #7688d9;
  text-transform: none;
  font-size: small;
  font-weight: normal;
  text-align: left;
  border: 1px solid transparent;
}
/*Golden Layout*/
.lm_goldenlayout {
  background: #272937 !important;
}
.lm_goldenlayout .lm_header {
  background: #272937 !important;
}
.lm_header,
.lm_content {
  border-color: #272937 !important;
}
.lm_dragProxy .lm_content {
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}
.lm_dropTargetIndicator {
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.4);
  outline: 1px dashed #7688d9;
  margin: 1px;
  transition: all 200ms ease;
}
.lm_dropTargetIndicator .lm_inner {
  background: white;
  opacity: 0.1;
  filter: alpha(opacity=1);
}
.lm_tab {
  font-family: Roboto!important;
  letter-spacing: 0.5px;
  font-size: 12px;
  background-color: #323446 !important;
  color: #a9a9a9 !important;
  border-right: 1px #272937 solid !important;
}
.lm_tab.lm_active {
  background-color: #1c1e28 !important;
  border-right: 1px #272937 solid !important;
  color: #7688d9 !important;
}
.lm_tab.lm_active .lm_close_tab {
  color: #7688d9 !important;
}
.lm_splitter {
  background-color: rgba(118, 136, 217, 0.3) !important;
}
.lm_splitter.lm_horizontal {
  background: rgba(118, 136, 217, 0.3) url(img/grabber_vert.png) no-repeat center !important;
  box-shadow: -1px 0 0 black inset, 1px 0 0 black inset;
}
.lm_splitter.lm_vertical {
  background: rgba(118, 136, 217, 0.3) url(img/grabber_hor.png) no-repeat center !important;
  box-shadow: 0 -1px 0 black inset, 0 1px 0 black inset;
}
.lm_header .lm_tab .lm_close_tab {
  background-image: none !important;
  color: #a9a9a9;
  font-size: 16px;
}
.lm_header .lm_tab .lm_close_tab::before {
  content: "×";
}
.lm_header .lm_tab:hover .lm_close_tab {
  opacity: 1;
  color: #7688d9 !important;
}
.lm_controls > li {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.lm_controls > li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lm_header .lm_controls .lm_tabdropdown:before {
  color: #a9a9a9 !important;
}
.lm_controls .lm_maximise {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKElEQVR4nGP8////fwYCgImQAgYGBgYWKM2IR81/okwajIpgvsMbVgAwgQYRVakEKQAAAABJRU5ErkJggg==);
}
.lm_maximised .lm_controls .lm_maximise {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVR4nGP8//8/AzGAiShVI1YhCwMDA8OsWbPwBmZaWhoj0SYCAN1lBxMAX4n0AAAAAElFTkSuQmCC);
}
.lm_transition_indicator {
  background-color: white;
  border: 1px dashed #7688d9;
}
label {
  color: #a9a9a9;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
}
label.cb_label {
  cursor: pointer;
}
button {
  background: #7688d9;
  color: white;
  border-radius: 4px;
  background-image: -moz-linear-gradient(90deg, #7688d9 0%, #9eabe4 100%);
  background-image: -webkit-linear-gradient(90deg, #7688d9 0%, #9eabe4 100%);
  background-image: -ms-linear-gradient(90deg, #7688d9 0%, #9eabe4 100%);
}
button:hover {
  color: #4c4a4a;
}
[type=checkbox] {
  background-color: #1c1e28;
  border: 1px solid #7688d9;
}
[type=checkbox]:checked {
  background-color: #7688d9;
}
[type=checkbox]:hover::before {
  background: #323446;
}
[type=checkbox]:active::before {
  background: #7688d9;
  color: #323446;
}
[type=checkbox]:checked::before {
  color: #7688d9;
}
[type=checkbox]:checked:after {
  color: #1c1e28;
}
[type=checkbox]:disabled::before {
  color: transparent;
  box-shadow: 0 0 0 1px #7688d9 inset;
  background: #323446;
}
[type=checkbox]:checked:disabled::before {
  color: grayscale(#7688d9);
  background: grayscale(#1c1e28);
}
select {
  background-color: #272937;
  border: 1px solid rgba(169, 169, 169, 0.3);
  color: white;
}
#lb {
  background-color: #1c1e28;
  border-bottom: 1px black solid;
}
#lb #lb_inner {
  background: #1c1e28;
}
#lb b {
  color: #a9a9a9;
}
#lb b:hover {
  color: #7688d9;
}
#lb b:active,
#lb b.pressed {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
#lb .lb_placeholder {
  background: rgba(0, 0, 0, 0.2);
}
#lb .ui-sortable-helper {
  color: black;
}
#lb_tip {
  background: #1c1e28;
  border: 1px solid black;
  color: #a9a9a9;
}
#lb_tip hr {
  border-top: 1px solid black;
  border-bottom: 1px solid #2e303e;
}
/*menu (see ../src/menu.js for the DOM structure)*/
.menu {
  background-color: #edeff5;
  border-bottom: solid grey 1px;
}
.menu a,
.menu a:hover {
  color: black;
  font-size: 0.8em;
}
.menu .m-open {
  background: rgba(0, 0, 0, 0.2);
}
.menu .m-open .m-top {
  border-color: transparent;
}
.menu .m-box {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.2);
}
.menu .m-box a {
  border: none;
  border-color: #edeff5;
}
.menu .m-box a .m-shc {
  color: white;
}
.menu .m-box a:focus {
  background: rgba(0, 0, 0, 0.2);
}
.menu .m-box a.m-checked {
  background: transparent 5px center no-repeat url(img/menu_chk.png);
}
.menu .m-box a:focus.m-checked {
  background: rgba(0, 0, 0, 0.2) 5px center no-repeat url(img/menu_chk.png);
}
.breakpoint {
  background: no-repeat transparent center center url(img/breakpoint.png);
}
.highlighted {
  border: none;
  outline: solid red 1px;
}
#prf_dlg hr {
  border-top: 1px solid black;
  border-bottom: 1px solid #2e303e;
}
#prf_nav {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
}
#prf_nav a {
  color: white;
}
#prf_nav a.sel {
  cursor: default;
  color: #7688d9;
}
#prf_content select {
  background-color: #272937;
  color: white;
}
#prf_content h2 {
  color: white;
}
#prf_dlg_cancel {
  background: transparent!important;
  border: 1px solid #717b9e;
  box-shadow: none!important;
  color: #717b9e;
}
#prf_dlg_cancel:hover {
  color: #4c4a4a;
}
#lyt_kbd {
  color: black;
}
.lyt_k {
  background: lightgrey;
}
.lyt_k * {
  font-family: apl, monospace;
  font-size: 16px;
}
.lyt_g0,
.lyt_g1,
.lyt_g2,
.lyt_g3 {
  background-color: lightgrey;
}
.lyt_g0 {
  color: black;
}
.lyt_g1 {
  color: #920000;
}
.lyt_g2 {
  color: #004949;
}
.lyt_g3 {
  color: #490092;
}
input.lyt_g1:hover,
input.lyt_g3:hover {
  outline: solid #bbb 1px;
  background-color: #eee;
}
#lyt_15,
#lyt_16,
#lyt_30,
#lyt_43,
#lyt_44,
#lyt_57 {
  color: black;
}
#lyt_43:before {
  background-color: lightgrey;
}
#shc_tbl_wr tr {
  background-color: #323446;
  border-bottom: 1px solid #1c1e28;
  color: white;
  font-family: Roboto;
  font-weight: 300;
}
#shc_tbl_wr tr:hover {
  background-color: #4d5571;
}
#shc_tbl_wr tr button {
  background: transparent !important;
  box-shadow: none!important;
  color: white;
}
#shc_tbl_wr tr button:hover {
  color: #7688d9;
}
#shc_tbl_wr tr .shc_code {
  font-size: 16px;
  font-weight: 700;
  padding: 2px 16px 2px 8px;
}
#shc_tbl_wr tr .shc_key {
  font-size: 14px;
  font-weight: 500;
  border: solid #1c1e28 1px;
}
#shc_tbl_wr tr .shc_key.shc_del_hvr {
  border-color: red;
}
#shc_tbl_wr tr .shc_text.shc_dup {
  border-color: red;
  background-color: red;
  color: white;
}
#shc_tbl_wr tr .shc_del {
  color: red;
}
#shc_tbl_wr tr .shc_del:hover {
  background-color: red;
  color: white;
  border-color: darkred;
}
#shc_tbl_wr tr td {
  color: white;
}
#shc_sc_clr {
  color: grey;
}
#shc_sc_clr:hover {
  color: black;
}
#shc_no_res {
  color: grey;
}
#col_me {
  background-color: white;
  outline: solid lightgrey 1px;
}
#title td {
  color: #a9a9a9;
}
#title td:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #7688d9;
}
#pmenu #pmenu_ta {
  font-family: monospace;
}
@media print {
  .lyt_k,
  .lyt_g0,
  .lyt_g1,
  .lyt_g2,
  .lyt_g3,
  #lyt_43:before {
    background: #eee;
  }
  #prf_content select {
    appearance: none;
    -webkit-appearance: none;
    background: white;
    color: black;
    border: none;
  }
  #shc_tbl_wr tr {
    background-color: white;
    border-bottom: 1px solid grey;
  }
  #shc_tbl_wr tr .shc_key {
    border: none;
  }
  #shc_tbl_wr tr .shc_key .shc_del {
    display: none;
  }
}
::-webkit-scrollbar {
  background-color: #1c1e28;
}
::-webkit-scrollbar-corner {
  background-color: #1c1e28;
}
::-webkit-scrollbar-track {
  background-color: #272937;
  border: 1px solid #1c1e28;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(118, 136, 217, 0.3);
  border: 1px solid #1c1e28;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  border-width: 1px 0;
}
::-webkit-scrollbar-thumb:vertical {
  border-width: 0 1px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(118, 136, 217, 0.6);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(118, 136, 217, 0.9);
}
#ide {
  background: url(img/RideLogo.png) center no-repeat, url(img/bg.jpg) center no-repeat #1c1e28;
}
#apl_font {
  color: #1c1e28;
}
::selection {
  background: #7688d9;
  color: white;
}
/*must be separate rules*/
::-moz-selection {
  background: #7688d9;
  color: white;
}
/*must be separate rules*/
body {
  font-family: Roboto, sans-serif;
}
#demo-keys span {
  border: solid #333 1px;
  background-color: grey;
  color: white;
}
#sb {
  background-color: #1c1e28;
  border-top: 1px solid black;
  color: #a9a9a9;
  font-family: apl, monospace;
}
#sb div {
  border-right: 1px solid #272937;
}
#sb div.right {
  border-right: none;
  border-left: 1px solid #272937;
}
#sb div.active {
  color: #7688d9;
}
#sb_prf:active {
  background-color: rgba(0, 0, 0, 0.2);
}
#toast-container {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}
#toast-container > div {
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.tooltip {
  color: #7688d9;
}
/* Tooltip text */
.tooltip .tooltiptext {
  background-color: #1c1e28;
  color: #a9a9a9;
}
.tooltip .tooltiptext::after {
  border-color: transparent #1c1e28 transparent transparent;
}
.toolbar {
  background-color: #1c1e28;
  border-bottom: 1px solid #272937;
}
.tb_btn {
  color: #a9a9a9;
  background: transparent;
  box-shadow: none!important;
  border-radius: 0!important;
}
.tb_btn:hover {
  color: #7688d9;
}
.tb_btn:active,
.tb_btn.pressed {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.tb_btn:disabled {
  background: transparent!important;
  color: rgba(169, 169, 169, 0.3);
  cursor: inherit;
}
.tb_sep {
  border: 0 solid #272937;
  border-right-width: 1px;
}
#vt_bln {
  border: solid black 1px;
  background-color: black;
  color: white;
}
#vt_tri {
  border-color: black;
}
#wse {
  background-color: #1c1e28;
  color: white;
  font-family: apl;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
}
#wse .bt_text::before {
  color: #1c1e28;
}
#wse .bt_text.selected {
  background-color: rgba(118, 136, 217, 0.75);
  outline: rgba(118, 136, 217, 0.75);
}
