#cn {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#cn #cn_rhs_inner *,
#cn #cn_env_add a,
#cn input {
  font-family: "Roboto";
  font-size: 14px;
}
#cn input:not([type=button]):not([type=file]):not([type=submit]):not([type=checkbox]),
#cn textarea {
  border-radius: 2px;
  padding-left: 5px;
  line-height: 24px;
}
#cn select {
  height: 26px;
}
#cn label {
  font-weight: 600;
}
#cn .cn_label {
  display: inline-block;
  width: 115px;
}
#cn .hsplitbar {
  width: 7px;
}
#cn .indent {
  margin-left: 24px;
}
#cn .dlg_btns button {
  margin: 2px;
}
#cn .dlg_btns .left {
  text-align: left;
}
#cn .dlg_btns .right {
  text-align: right;
}
#cn textarea {
  resize: vertical;
}
#cn_favs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 64px;
  overflow: auto;
}
#cn_favs > div {
  line-height: 46px;
  padding: 0 2px 0 8px;
  margin-bottom: 1px;
  cursor: default;
}
#cn_favs > div .go {
  float: right;
  margin-top: 6px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  padding: 1px 6px;
  font-size: 1em;
  line-height: 0px;
}
#cn_favs > div:first-child {
  line-height: 100px;
  font-size: 1.2em;
}
#cn_favs > div:first-child .go {
  float: right;
  margin-top: 15px;
  width: 70px;
  height: 70px;
  border-radius: 2px;
  padding: 1px 6px;
  font-size: 2.5em;
}
#cn_favs .name {
  font-weight: 600;
}
#cn_favs div {
  position: relative;
}
#cn_rhs_inner > * > .row,
#cn_rhs_inner > .row,
#cn_dtl > * > .row {
  padding: 3px 0px;
}
#cn_lhs {
  min-width: 355px;
  overflow: hidden;
  padding: 0px;
}
#cn_rhs {
  min-width: 475px;
}
#cn_rhs_inner {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  height: calc(100% - 64px);
}
#cn_rhs_inner button {
  padding: 8px;
  width: auto;
}
#cn_rhs_inner .col > input:not([type=checkbox]),
#cn_rhs_inner .col > select {
  width: 100%;
}
#cn_rhs_inner .col > input:not([type=checkbox]).browse,
#cn_rhs_inner .col > select.browse {
  width: calc(100% - 35px);
}
#cn_rhs_inner p {
  padding: 4px 0;
}
#cn_go {
  min-width: 75px;
}
#cn_env_add {
  padding-left: 0px;
}
#cn_env_add a {
  font-family: apl, monospace;
  font-size: 18px;
  text-decoration: none;
}
.cn_hint {
  font-size: 14px;
  font-style: italic;
  opacity: 0.5;
}
.cn_progress {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
#cn_listen_dlg {
  width: 380px;
  height: 210px;
}
#cn_connecting_dlg {
  width: 360px;
  height: 150px;
}
.cn_dlg_content {
  padding: 8px;
  text-align: center;
}
#cn_args,
#cn_env {
  width: 100%;
}
.ctl_listview {
  width: 100%;
  font-family: apl;
  line-height: 1.3em;
  overflow-x: auto;
  overflow-y: auto;
}
.ctl_listview tr {
  cursor: pointer;
}
.ctl_listview td {
  padding: 3px 10px;
}
#threads > table,
#sistack > table {
  width: 100%;
}
#debug {
  height: inherit;
}
#debug > div {
  height: 50%;
  display: block;
}
#debug .ctl_listview_header {
  height: 14px;
  padding: 5px;
}
#threads {
  height: calc(100% - 60px);
}
#sistack {
  height: calc(100% - 24px);
}
/*various dialogs*/
#dlg_modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}
.dlg {
  position: absolute;
}
.dlg_title {
  cursor: default;
  text-align: center;
  padding-top: 0.5ex;
  font-size: large;
  cursor: move;
}
#prf_dlg .dlg_title {
  text-transform: uppercase;
}
.dlg_close {
  width: 2ex;
  height: 2ex;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  top: -0.5ex;
  float: right;
}
.dlg_btns {
  padding: 14px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dlg_btns button {
  min-width: 75px;
  margin: 0 8px;
  padding: 8px;
}
.dlg_btns button.task {
  display: block;
  margin: 10px 5px;
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
.dlg_btns button.task:hover,
.dlg_btns button.task:focus {
  border: 1px solid;
}
.dlg_btns button.task .task_detail {
  font-size: smaller;
}
.dlg_btns button.task .btn_icon {
  float: left;
  font-size: 20px;
  padding: 0 10px;
}
.dlg_icon_warn {
  background-image: url(img/dlg_warn.png);
}
.dlg_icon_info {
  background-image: url(img/dlg_info.png);
}
.dlg_icon_error {
  background-image: url(img/dlg_error.png);
}
.dlg_icon_query {
  background-image: url(img/dlg_query.png);
}
/*generic dialog for processing OptionsDialog,StringDialog,TaskDialog*/
#gd.dlg {
  position: absolute;
}
#gd.dlg.floating {
  position: static;
}
#gd_btns {
  position: static;
  padding: 8px 0;
}
#gd_icon {
  margin: 1em 1em 2em;
  width: 128px;
  height: 128px;
  float: left;
}
#gd_content {
  padding: 1em;
  line-height: 1.5;
  /* margin-bottom: 60px; */
}
#gd_content input {
  width: 100%;
}
#gd_footer {
  min-height: 40px;
  padding: 8px;
}
#gd_footer label {
  vertical-align: text-top;
}
#gd_footer_btns {
  float: right;
}
#gd_footer_btns button {
  min-width: 75px;
  margin: 0 8px;
  padding: 8px;
}
.ui-dialog .ui-dialog-content.task_dlg {
  padding: 8px;
}
.ui-dialog .ui-dialog-content.task_dlg p {
  text-align: left;
}
.ui-dialog .ui-dialog-content.task_dlg .subtext,
.ui-dialog .ui-dialog-content.task_dlg .footer {
  font-size: 12px;
}
.ui-dialog .ui-dialog-content.task_dlg .task {
  display: block;
  width: 100%;
  margin-top: 2px;
}
/*About dialog*/
#abt {
  padding: 0;
  margin: 0;
}
#abt.floating {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#abt_logo {
  background: 16px center no-repeat url(img/dyalog.png);
  height: 80px;
  line-height: 20px;
  cursor: move;
}
.floating #abt_logo {
  cursor: default;
}
#abt_contact {
  float: right;
  text-align: right;
  padding: 12px;
  cursor: default;
}
#abt_contact a,
#abt_contact a:visited,
#abt_contact a:active {
  text-decoration: none;
}
#abt_ta_wr {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 86px;
  bottom: 70px;
  width: auto;
}
#abt_ta {
  font-family: monospace;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  resize: none;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
.lm_content {
  border: none !important;
}
.lm_header .lm_tab {
  padding: 5px 15px 5px 10px !important;
  margin-top: 0!important;
  height: 15px!important;
}
.lm_header .lm_tab .lm_title {
  font-family: apl, monospace !important;
  padding: 0px 10px 2px 0px;
}
.lm_header .lm_tab .lm_close_tab {
  right: 6px !important;
}
.lm_header .lm_tab .lm_close_tab:not(.modified),
.lm_header .lm_tab .lm_close_tab:hover {
  top: 4px !important;
}
.lm_close {
  display: none !important;
}
.lm_splitter {
  opacity: 1 !important;
}
button {
  border: none;
  font-family: Roboto;
  font-weight: bold;
  padding: 5px 0.5em;
  transition: box-shadow 0.2s;
  text-transform: uppercase;
  cursor: pointer;
}
button:active {
  box-shadow: none;
}
label input[type=checkbox] {
  position: relative;
  vertical-align: text-bottom;
}
input[type=checkbox] {
  -webkit-appearance: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
}
input[type=checkbox]:focus {
  outline: none;
  margin-right: 5px;
}
input[type=checkbox]:checked::after {
  content: '\2714';
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 4px;
}
input[type=checkbox][hidden],
input[type=checkbox][hidden] + label {
  display: none;
}
input,
textarea,
pre,
tt {
  font-family: Roboto;
  font-size: 14px;
}
input,
textarea,
select,
a {
  outline: 0;
}
select {
  overflow: hidden;
  padding: 2px 34px 2px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 30px;
  box-shadow: none;
  font-weight: 500;
  border-radius: 2px;
}
select option {
  font-weight: 500;
}
select:focus {
  outline: dotted black 1px;
}
textarea {
  border: none;
  padding: 0;
}
/*jQuery UI - v1.10.4 - 2014-01-17, heavily customized*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0;
}
/*support:IE7*/
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ui-state-disabled {
  cursor: default !important;
}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-button {
  min-width: 75px;
  display: inline-block;
  position: relative;
  overflow: visible;
  /*removes extra width in IE*/
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none;
  color: #000;
}
.ui-button.ui-button-disabled:active {
  border-color: #fff #888 #888 #fff;
}
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
  cursor: normal;
}
.ui-button:focus,
button:focus {
  outline: dotted #000 1px;
  outline-offset: -4px;
}
.ui-button:active .ui-button-text {
  border-color: #000;
}
.ui-button-text-only .ui-button-text {
  min-width: 75px;
  border-width: 0;
  padding: 1px 0;
}
.ui-button-text-only:active .ui-button-text {
  border-color: #808080;
}
.ui-button-text-only.ui-button-disabled:active .ui-button-text {
  border-color: transparent #808080 #808080 transparent;
}
input.ui-button {
  padding: 0 5px;
}
.ui-buttonset {
  margin-right: 7px;
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
}
.ui-dialog {
  border-color: #fff #888 #888 #fff;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  outline: 0;
  text-align: center;
}
.ui-dialog .ui-dialog-titlebar {
  background: #0a246a;
  color: #fff;
  padding: 0 8px;
  margin-bottom: 1px;
  position: relative;
  height: 22px;
  line-height: 20px;
  cursor: default;
}
.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  text-align: left;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 2px;
  top: 50%;
  min-width: 18px;
  width: 18px;
  margin: -9px 0 0 0;
  padding: 0;
  height: 18px;
  outline: 0;
  cursor: pointer;
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-icon-primary {
  margin: -1px 0 0 -1px;
  background-color: #fff;
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 0;
  background: none;
  overflow: auto;
}
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: 0.5em;
  padding: 0.3em 1em 0.5em 0.4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-button {
  margin: 0 5px;
}
/*right-aligned*/
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-selectable-helper {
  position: absolute;
  border: 1px dotted black;
}
/*position:relative prevents IE scroll bug (element with position:relative inside container with overflow:auto appear as "fixed")*/
.ui-tabs {
  padding: 0;
  position: relative;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 8px;
  background: none;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0 3px;
  border-width: 0 0 1px 0;
  border-color: white;
}
.ui-tabs .ui-tabs-nav li {
  background-color: #dcdad5;
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 3px 1px 0 0;
  padding: 0;
  white-space: nowrap;
  outline: none;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: 2px 12px 0 12px;
  border-width: 1px 2px 0 1px;
  border-style: solid;
  text-decoration: none;
  border-color: white #666 transparent white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: default;
}
.ui-tabs .ui-tabs-nav .ui-tabs-active .ui-tabs-anchor {
  background-color: #dcdad5;
  padding: 4px 15px 0 15px;
  margin: -2px -3px 0 -3px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  border-bottom: solid 1px #dcdad5;
  margin-bottom: -1px;
  padding-left: 2px;
  margin-left: -2px;
  padding-right: 2px;
  margin-right: -2px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: default;
}
.tab-name {
  float: left /*for Firefox*/;
}
.tab-close {
  float: right;
  width: 20px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #888;
  margin: 0 -10px 0 5px;
  line-height: 20px;
}
.tab-close:hover {
  background-color: #d88;
  color: white;
}
.ui-tooltip {
  padding: 8px;
  position: absolute;
  max-width: 300px;
  box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
  border-width: 2px;
}
/*Component containers*/
.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget select,
.ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  background-color: #dcdad5;
}
.ui-widget-header {
  background-color: #dcdad5;
  border: 1px solid #aaaaaa;
  font-weight: bold;
}
/*Interaction states*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  font-weight: normal;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #000;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  font-weight: normal;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  text-decoration: none;
}
/*Interaction Cues*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background-color: #fbf9ee;
  color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background-color: #fef1ec;
  color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: 0.7;
  filter: alpha(opacity=70);
  font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  filter: alpha(opacity=35);
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter: alpha(opacity=35);
}
/*For IE8 - See #6059*/
.ui-icon {
  width: 16px;
  height: 16px;
}
.ui-icon-closethick {
  background: no-repeat center center url(img/close.png);
}
#lb {
  font-family: apl, monospace;
  font-size: 18px;
  cursor: default;
}
#lb b {
  font-weight: normal;
  width: 1em;
  padding: 3px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: -4px;
}
#lb .lb_placeholder {
  vertical-align: bottom;
}
#lb .ui-sortable-helper {
  cursor: move;
}
#lb_prf {
  float: right;
  padding: 4px 12px;
}
#lb_tip {
  font-family: apl, monospace;
  font-size: 18px;
  position: absolute;
  border-radius: 2px;
}
#lb_tip hr {
  margin: 0;
}
#lb_tip div {
  padding: 8px;
}
#lb_tip_body {
  overflow: auto;
}
#lb_tip_desc {
  text-align: center;
  text-transform: uppercase;
}
/*menu (see ../src/menu.js for the DOM structure)*/
.menu {
  height: 22px;
  line-height: 21px;
  cursor: default;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  user-select: none;
}
.menu a {
  text-decoration: none;
  cursor: default;
}
.menu .m-opener.m-top {
  text-align: center;
  border: solid transparent 1px;
  padding: 0 5px;
  margin: 0;
}
.menu .m-open > .m-box {
  display: block;
}
.menu > .m-sub {
  float: left;
}
.menu .m-box {
  display: none;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  padding: 0;
  margin: 0;
  min-width: 125px;
  white-space: nowrap;
}
.menu .m-box .m-box {
  margin-left: 100%;
  margin-top: -21px;
}
.menu .m-box a {
  display: block;
  height: 21px;
  line-height: 21px;
  text-align: left;
  padding: 1px 21px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .m-box a .m-shc {
  font-size: small;
  float: right;
  margin-left: 20px;
}
.menu hr {
  margin: 3px 0 5px 0;
}
.monaco-editor .no-icons .icon {
  display: none!important;
}
.monaco-editor .suggest-widget .monaco-list .monaco-list-row > .contents > .main,
.monaco-editor-hover .monaco-tokenized-source {
  white-space: pre!important;
}
.pendent .monaco-editor .cursor {
  visibility: hidden!important;
}
.pendent .tb_btn {
  pointer-events: none;
}
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  overflow: hidden;
}
button,
label,
#lb b,
.ctl_listview_header,
.lm_tab,
.dlg_title,
#prf_nav a,
.lyt_k {
  user-select: none;
}
#abt_contact.dlg_no_drag {
  user-select: text;
}
h2 {
  padding-bottom: 5px;
}
.hidden {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/*Status window*/
/*info*/
/*error*/
/*warning*/
/*.Net function overload clash overload*/
#status_body {
  overflow: scroll;
}
#status {
  font-family: apl, monospace;
  white-space: pre;
}
#status .m {
  padding: 1px 8px;
}
#status .t1 {
  color: green;
}
#status .t2 {
  color: red;
}
#status .t4 {
  color: blue;
}
#status .t8 {
  color: red;
}
#sb {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
#sb[hidden] {
  display: none;
}
#sb_left,
#sb_right {
  display: flex;
}
#sb_left div,
#sb_right div {
  display: inline-block;
  padding: 3px 6px 4px;
  user-select: none;
  cursor: default;
}
#sb_left div[hidden],
#sb_right div[hidden] {
  display: none;
}
#sb_left div .tb_btn,
#sb_right div .tb_btn {
  padding: 0;
}
#sb_cp {
  min-width: 15em;
}
#sb_busy {
  padding: 2px 6px 3px;
}
.tooltip {
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 25px;
  min-width: 30vw;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 12px;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.toolbar {
  cursor: default;
  overflow: hidden;
  padding: 3px 6px 2px;
}
.toolbar .tb_btn,
.toolbar .tb_sep {
  font-size: 1.2em;
}
.no-toolbar .toolbar {
  display: none;
}
.tracer .toolbar .ed_only {
  display: none;
}
.toolbar .tc_only {
  display: none;
}
.tracer .toolbar .tc_only {
  display: inline-block;
}
.tracer .toolbar .tc_only.tb_sep {
  display: inline;
}
.tb_btn {
  display: inline-block;
  padding: 2px;
  width: 1em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.tb_sep {
  margin: 0 8px 0 0;
  vertical-align: middle;
}
#vt_bln {
  font-family: apl, monospace;
  font-size: 18px;
  position: absolute;
  padding: 7px;
  white-space: pre;
  overflow: hidden;
}
#vt_tri {
  position: absolute;
  border: solid;
  border-width: 6px 6px 0 6px;
  height: 6px;
  bottom: -6px;
  border-left-color: transparent!important;
  border-right-color: transparent!important;
  background-color: transparent!important;
  content: "";
}
#vt_tri.inv {
  border-width: 0 6px 6px 6px;
  margin-top: -6px;
  bottom: auto;
}
.vt_marker {
  border: dotted transparent 2px;
  margin: -2px;
}
/*IDE page*/
#splash,
#ide,
body.floating-window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ride_win {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ride_win.edit_trace {
  display: block;
}
.ride_win.edit_trace .ride_win_me {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.ride_win.edit_trace.no-toolbar .ride_win_me {
  height: 100%;
}
.win,
.floating-window {
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  bottom: 0;
  overflow: hidden!important;
  padding: 0!important;
  height: auto!important;
}
/*workspace explorer*/
/*variable*/
/*field*/
/*property*/
/*external shared variable*/
/*tradfn*/
/*dfn*/
/*derived or primitive function*/
/*external function*/
/*tradop*/
/*dop*/
/*derived or primitive operator*/
/*user-defined namespace*/
/*instance*/
/*class*/
/*interface*/
/*external class*/
/*external interface*/
#wse {
  overflow: auto;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  cursor: default;
}
#wse div {
  padding-left: 1em;
  margin: 2px 0;
}
#wse > div {
  padding-left: 2px;
}
#wse .value_tip {
  padding-left: 1.5em;
}
#wse .bt_text {
  border-radius: 3px;
}
#wse .bt_text::before {
  display: inline-block;
  width: 1em;
  height: 2ex;
  border-radius: 30%;
  text-align: center;
  margin-right: 0.2em;
  font-weight: 600;
  color: #1c1e28 !important;
}
#wse .bt_node_expand {
  display: inline-block;
  width: 1em;
  height: 0;
  text-align: center;
  margin-right: 0.2em;
  font-family: monospace;
  -webkit-font-smoothing: none;
  cursor: pointer;
  opacity: 0.7;
}
#wse .bt_node_expand:hover {
  opacity: 1;
}
#wse .bt_node_indent {
  display: inline-block;
  width: 1em;
  height: 0;
  text-align: center;
  margin-right: 0.2em;
}
#wse .bt_icon_2_1::before,
#wse .bt_icon_2_2::before,
#wse .bt_icon_2_3::before,
#wse .bt_icon_2_6::before {
  content: "v";
  background: #ff5a00;
}
#wse .bt_icon_3_1::before,
#wse .bt_icon_3_2::before,
#wse .bt_icon_3_3::before,
#wse .bt_icon_3_6::before {
  content: "f";
  background: #00ff48;
}
#wse .bt_icon_4_1::before,
#wse .bt_icon_4_2::before,
#wse .bt_icon_4_3::before {
  content: "o";
  background: #9c00ff;
}
#wse .bt_icon_8_6::before {
  content: "e";
  background: #ffd800;
}
#wse .bt_icon_9_1::before,
#wse .bt_icon_1::before,
#wse .bt_icon_9_2::before {
  content: "n";
  background: #ffd800;
}
#wse .bt_icon_9_4::before,
#wse .bt_icon_9_6::before {
  content: "c";
  background: #ffd800;
}
#wse .bt_icon_9_5::before,
#wse .bt_icon_9_7::before {
  content: "i";
  background: #ffd800;
}
.bt_collapsed > div {
  display: none;
}
/*z-indices; CodeMirror uses 1-10; .dlg uses 100+ */
.ui-tooltip {
  z-index: 9999;
}
#lb_tip {
  z-index: 300;
}
#vt_bln,
#vt_tri {
  z-index: 300;
}
.menu .m-box {
  z-index: 200;
}
.ui-front {
  z-index: 100;
}
.ui-selectable-helper {
  z-index: 100;
}
.lm_splitter {
  z-index: 11 !important;
}
.zoom12 #wse,
.zoom12 #debug,
.zoom12 #lb_tip *,
.zoom12 #vt_bln,
.zoom12 #lb,
.zoom12 #sb,
.zoom12 .toolbar {
  font-size: 48px;
}
.zoom11 #wse,
.zoom11 #debug,
.zoom11 #lb_tip *,
.zoom11 #vt_bln,
.zoom11 #lb,
.zoom11 #sb,
.zoom11 .toolbar {
  font-size: 42px;
}
.zoom10 #wse,
.zoom10 #debug,
.zoom10 #lb_tip *,
.zoom10 #vt_bln,
.zoom10 #lb,
.zoom10 #sb,
.zoom10 .toolbar {
  font-size: 36px;
}
.zoom9 #wse,
.zoom9 #debug,
.zoom9 #lb_tip *,
.zoom9 #vt_bln,
.zoom9 #lb,
.zoom9 #sb,
.zoom9 .toolbar {
  font-size: 32px;
}
.zoom8 #wse,
.zoom8 #debug,
.zoom8 #lb_tip *,
.zoom8 #vt_bln,
.zoom8 #lb,
.zoom8 #sb,
.zoom8 .toolbar {
  font-size: 28px;
}
.zoom7 #wse,
.zoom7 #debug,
.zoom7 #lb_tip *,
.zoom7 #vt_bln,
.zoom7 #lb,
.zoom7 #sb,
.zoom7 .toolbar {
  font-size: 26px;
}
.zoom6 #wse,
.zoom6 #debug,
.zoom6 #lb_tip *,
.zoom6 #vt_bln,
.zoom6 #lb,
.zoom6 #sb,
.zoom6 .toolbar {
  font-size: 24px;
}
.zoom5 #wse,
.zoom5 #debug,
.zoom5 #lb_tip *,
.zoom5 #vt_bln,
.zoom5 #lb,
.zoom5 #sb,
.zoom5 .toolbar {
  font-size: 22px;
}
.zoom4 #wse,
.zoom4 #debug,
.zoom4 #lb_tip *,
.zoom4 #vt_bln,
.zoom4 #lb,
.zoom4 #sb,
.zoom4 .toolbar {
  font-size: 20px;
}
.zoom3 #wse,
.zoom3 #debug,
.zoom3 #lb_tip *,
.zoom3 #vt_bln,
.zoom3 #lb,
.zoom3 #sb,
.zoom3 .toolbar {
  font-size: 19px;
}
.zoom2 #wse,
.zoom2 #debug,
.zoom2 #lb_tip *,
.zoom2 #vt_bln,
.zoom2 #lb,
.zoom2 #sb,
.zoom2 .toolbar {
  font-size: 18px;
}
.zoom1 #wse,
.zoom1 #debug,
.zoom1 #lb_tip *,
.zoom1 #vt_bln,
.zoom1 #lb,
.zoom1 #sb,
.zoom1 .toolbar {
  font-size: 17px;
}
.zoom0 #wse,
.zoom0 #debug,
.zoom0 #lb_tip *,
.zoom0 #vt_bln,
.zoom0 #lb,
.zoom0 #sb,
.zoom0 .toolbar {
  font-size: 16px;
}
.zoom-1 #wse,
.zoom-1 #debug,
.zoom-1 #lb_tip *,
.zoom-1 #vt_bln,
.zoom-1 #lb,
.zoom-1 #sb,
.zoom-1 .toolbar {
  font-size: 15px;
}
.zoom-2 #wse,
.zoom-2 #debug,
.zoom-2 #lb_tip *,
.zoom-2 #vt_bln,
.zoom-2 #lb,
.zoom-2 #sb,
.zoom-2 .toolbar {
  font-size: 14px;
}
.zoom-3 #wse,
.zoom-3 #debug,
.zoom-3 #lb_tip *,
.zoom-3 #vt_bln,
.zoom-3 #lb,
.zoom-3 #sb,
.zoom-3 .toolbar {
  font-size: 13px;
}
.zoom-4 #wse,
.zoom-4 #debug,
.zoom-4 #lb_tip *,
.zoom-4 #vt_bln,
.zoom-4 #lb,
.zoom-4 #sb,
.zoom-4 .toolbar {
  font-size: 12px;
}
.zoom-5 #wse,
.zoom-5 #debug,
.zoom-5 #lb_tip *,
.zoom-5 #vt_bln,
.zoom-5 #lb,
.zoom-5 #sb,
.zoom-5 .toolbar {
  font-size: 11px;
}
.zoom-6 #wse,
.zoom-6 #debug,
.zoom-6 #lb_tip *,
.zoom-6 #vt_bln,
.zoom-6 #lb,
.zoom-6 #sb,
.zoom-6 .toolbar {
  font-size: 10px;
}
.zoom-7 #wse,
.zoom-7 #debug,
.zoom-7 #lb_tip *,
.zoom-7 #vt_bln,
.zoom-7 #lb,
.zoom-7 #sb,
.zoom-7 .toolbar {
  font-size: 9px;
}
.zoom-8 #wse,
.zoom-8 #debug,
.zoom-8 #lb_tip *,
.zoom-8 #vt_bln,
.zoom-8 #lb,
.zoom-8 #sb,
.zoom-8 .toolbar {
  font-size: 8px;
}
.zoom-9 #wse,
.zoom-9 #debug,
.zoom-9 #lb_tip *,
.zoom-9 #vt_bln,
.zoom-9 #lb,
.zoom-9 #sb,
.zoom-9 .toolbar {
  font-size: 7px;
}
.zoom-10 #wse,
.zoom-10 #debug,
.zoom-10 #lb_tip *,
.zoom-10 #vt_bln,
.zoom-10 #lb,
.zoom-10 #sb,
.zoom-10 .toolbar {
  font-size: 6px;
}
#col_top {
  text-align: left;
  padding: 0 8px;
}
#col_top div {
  padding-bottom: 8px;
}
#col_fnt {
  padding: 5px;
  margin-left: 10px;
  width: calc(100% - 200px);
}
#col_new_name {
  display: none;
}
#col_me {
  left: 8px;
  right: 216px;
  overflow: hidden;
  text-align: left;
  position: absolute;
  top: 140px;
  bottom: 70px;
}
#col_settings {
  width: 200px;
  right: 8px;
  overflow: auto;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  top: 140px;
  bottom: 70px;
}
#col_settings p {
  padding-top: 8px;
  padding-bottom: 8px;
}
.web #col_me,
.web #col_settings {
  top: 126px;
}
#col_fg {
  width: 48px;
  padding: 0;
  cursor: pointer;
}
#col_bg {
  width: 48px;
  padding: 0;
  cursor: pointer;
}
#col_fgo_p,
#col_bgo_p {
  margin-left: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
#col_B + u {
  font-weight: bold;
  text-decoration: none;
}
#col_I + u {
  font-style: italic;
  text-decoration: none;
}
#col.frz #col_ren {
  display: none;
}
#col.frz #col_del {
  display: none;
}
#col.frz #col_chrome_fld {
  display: none;
}
#col.frz #col_settings {
  display: none;
}
#col.frz #col_me {
  right: 8px;
}
#col.renaming #col_scm {
  display: none;
}
#col.renaming #col_new_name {
  display: inline;
}
#prf_dlg > hr {
  margin-top: 0;
  margin-bottom: 15px;
}
#prf_nav {
  display: inline-block;
  width: 100%;
}
#prf_nav a {
  float: left;
  height: 13px;
  padding: 4px 12px 4px 12px;
  text-decoration: none;
  color: #4c4a4a;
  margin: 11px 5px 8px;
}
#prf_print {
  font-size: 20px;
  float: right;
  margin: 7px 20px 0px 0px;
  width: 28px;
}
#prf_content {
  margin-top: -2px;
  padding: 5px 10px 0;
}
#prf_content button {
  padding: 8px;
}
#prf_content select {
  overflow: hidden;
  padding: 2px 34px 2px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 30px;
  box-shadow: none;
  font-weight: 500;
}
#prf_content select option {
  font-weight: 500;
}
#prf_content .sub {
  margin-left: 24px;
}
@media print {
  #prf_dlg {
    background: white;
  }
  #prf_dlg hr,
  #prf_dlg #prf_nav,
  #prf_dlg .dlg_btns,
  #prf_dlg .dlg_title {
    display: none;
  }
}
/*Prefs>Layout*/
/*The arrangement is: +-------+ */
/*                    | g1 g3 | */
/*                    | g0 g2 | */
/*                    +-------+ */
/*bksp,tab,caps,enter,lshift,rshift*/
/*tab,caps,lshift*/
/*bksp,tab,enter,lshift,rshift*/
/*bksp,tab,caps,enter,lshift,rshift*/
/*bksp*/
/*tab*/
/* |\ key on ansi layout*/
/*caps*/
/*enter*/
/*lshift*/
/*rshift*/
/*the key above enter on an ansi layout*/
/*the key between @' and enter*/
/*lshift*/
/*the key between lshift and Z*/
#lyt {
  padding: 5px;
}
#lyt_ctrls {
  text-align: center;
  margin: 3px 3px 20px 3px;
}
#lyt_rst {
  float: right;
}
#lyt_pfx_lbl {
  float: left;
}
#lyt_pfx {
  width: 20px;
  text-align: center;
}
#lyt_kbd {
  font-family: apl, monospace;
  font-size: 18px;
  border-radius: 2px;
  height: 250px;
  clear: both;
  cursor: default;
}
#lyt_kbd b {
  font-weight: normal;
}
.lyt_k {
  float: left;
  width: 6%;
  height: 45px;
  border-radius: 2px;
  margin-left: 0.6%;
  margin-top: 4px;
  text-align: center;
  overflow: hidden;
}
.lyt_k input {
  text-align: center;
}
.lyt_g1 {
  width: 40%;
  height: 20px;
  line-height: 20px;
  padding: 0;
  border-width: 0;
  margin-top: 1px;
}
.lyt_g3 {
  width: 40%;
  height: 20px;
  line-height: 20px;
  padding: 0;
  border-width: 0;
  margin-top: 1px;
}
#lyt_spc {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 8px;
  padding-right: 8px;
}
#lyt_spc br {
  clear: both;
}
#lyt_spc .lyt_g0 {
  float: left;
  text-align: left;
  white-space: nowrap;
}
#lyt_spc .lyt_g1 {
  float: right;
  text-align: right;
  white-space: nowrap;
}
#lyt_spc .lyt_g2 {
  float: left;
  text-align: left;
  white-space: nowrap;
}
#lyt_spc .lyt_g3 {
  float: right;
  text-align: right;
  white-space: nowrap;
  width: inherit;
}
input.lyt_g1:hover,
input.lyt_g3:hover {
  cursor: pointer;
}
#lyt_15 {
  line-height: 45px;
  cursor: default;
  font-size: 32px;
  width: 13%;
}
#lyt_16 {
  line-height: 45px;
  cursor: default;
  clear: left;
  font-size: 32px;
  width: 10%;
}
#lyt_30 {
  line-height: 45px;
  cursor: default;
  clear: left;
  width: 12%;
}
#lyt_43 {
  line-height: 45px;
  cursor: default;
  font-size: 32px;
  width: 13.6%;
}
#lyt_44 {
  line-height: 45px;
  cursor: default;
  clear: left;
  width: 16.1%;
}
#lyt_57 {
  line-height: 45px;
  cursor: default;
  width: 16.1%;
}
#lyt_14 {
  display: none;
}
#lyt_42 {
  display: none;
}
#lyt_45 {
  display: none;
}
#lyt_56 {
  display: none;
}
#lyt_29 {
  width: 9%;
}
.lyt_geom_iso #lyt_29 {
  display: none;
}
.lyt_geom_iso #lyt_42 {
  display: block;
}
.lyt_geom_iso #lyt_43 {
  width: 7%;
  height: 94px;
  line-height: 94px;
  margin-top: -45px;
  text-indent: -2%;
  border-radius: 0 2px 2px 2px;
  overflow: visible;
}
.lyt_geom_iso #lyt_43:before {
  content: "";
  float: left;
  border-radius: 2px 0 0 2px;
  position: relative;
  left: -30%;
  width: 30%;
  height: 45px;
  padding-right: 1px;
}
.lyt_geom_iso #lyt_44 {
  width: 9.6%;
}
.lyt_geom_iso #lyt_45 {
  display: block;
}
@media print {
  #lyt_ime_wr,
  #lyt_rst {
    display: none;
  }
}
/*Prefs>Code*/
#code {
  overflow: auto;
  position: absolute;
  top: 54px;
  bottom: 70px;
  left: 12px;
  right: 3px;
}
#code p {
  margin: 5px;
}
#code > hr {
  margin-top: 5px !important;
}
.web #code {
  top: 75px;
}
/*Prefs>Menu*/
#pmenu_rst {
  float: right;
}
#pmenu p {
  margin: 10px 8px;
  color: black;
}
#pmenu_ta_wr {
  position: absolute;
  left: 4px;
  right: 4px;
  top: 94px;
  bottom: 70px;
  overflow: hidden;
  padding: 4px;
}
.web #pmenu_ta_wr {
  top: 120px;
}
#pmenu_ta {
  width: 100%;
  height: 100%;
  resize: none;
}
/*Prefs>Trace/Edit*/
#wins {
  overflow-y: auto;
  position: absolute;
  top: 54px;
  bottom: 70px;
  left: 12px;
  right: 3px;
}
#wins div {
  margin-right: 0;
}
#wins p {
  margin: 5px;
}
#wins > hr {
  margin-top: 5px !important;
}
#wins_qns {
  margin: 8px 8px 0 0;
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
#wins .row {
  padding: 3px 5px;
}
/*Prefs>Title*/
#title {
  text-align: left;
  padding: 0 8px;
}
#title pre {
  overflow: auto;
  position: absolute;
  left: 8px;
  right: 8px;
  top: 125px;
  bottom: 70px;
}
#title table {
  table-layout: fixed;
  width: 100%;
  margin-top: 10px;
}
#title table tr {
  height: 1.3em;
}
#title table td {
  vertical-align: middle;
}
#title table td:nth-child(1) {
  width: 30%;
}
#title_inp {
  width: calc(100% - 160px);
  margin-left: 10px;
  padding: 5px 0;
}
#title_rst {
  float: right;
}
/*Prefs>Shortcuts*/
#shc {
  position: absolute;
  left: 0;
  right: 0;
  top: 54px;
  bottom: 70px;
  overflow: auto;
  text-align: left;
  padding: 8px 0 0 8px;
}
#shc td {
  text-align: left;
}
#shc td .shc_editor {
  height: 25px;
  width: calc(100% - 30px);
  display: inline-block;
  vertical-align: middle;
}
#shc td .shc_editor .editor-widget.suggest-widget {
  width: 0;
}
#shc td > * {
  vertical-align: middle;
}
#shc td:nth-child(3) {
  width: 50%;
}
.web #shc {
  top: 70px;
}
#shc_rst_all {
  float: right;
  margin-right: 8px;
}
.shc_code {
  padding: 2px 16px 2px 8px;
}
#shc_tbl_wr {
  position: absolute;
  top: 50px;
  left: 3px;
  right: 3px;
  bottom: 0;
  overflow: auto;
}
#shc_tbl_wr table {
  width: 100%;
  cursor: default;
  padding-left: 2px;
}
#shc_tbl_wr tr {
  page-break-inside: avoid;
}
#shc_tbl_wr tr:hover {
  box-shadow: none!important;
}
#shc_tbl_wr tr:hover .shc_add {
  visibility: visible;
}
#shc_tbl_wr tr:hover .shc_rst {
  visibility: visible;
}
#shc_sc_clr {
  width: 24px;
  margin-left: -20px;
  margin-right: 12px;
  text-decoration: none;
}
#shc_no_res {
  font-style: italic;
  padding: 20px;
}
.shc_key {
  border-radius: 2px;
  margin: 8px 2px;
  line-height: 24px;
  white-space: nowrap;
  padding: 3px 0;
}
.shc_key .shc_key_btn {
  border-radius: 3px;
  display: inline;
  margin: 2px;
  padding: 2px 4px;
  white-space: nowrap;
}
.shc_text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
  padding: 0 2px;
}
.shc_del {
  text-decoration: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.shc_add {
  visibility: hidden;
}
.shc_rst {
  visibility: hidden;
}
.shc_val {
  width: 90%;
}
@media print {
  #shc,
  #shc_tbl_wr {
    position: initial;
    overflow: unset;
  }
  #shc_ctrls {
    display: none;
  }
  #shc_tbl_wr tr {
    line-height: 25px;
  }
  #shc_tbl_wr .shc_add,
  #shc_tbl_wr td:nth-child(4) {
    display: none;
  }
}
