.lm_content{
	border:none !important;
}
.lm_splitter.lm_horizontal {
	.lm_drag_handle {
		width: 8px !important;
		left: -2px !important;
	}
}
.lm_splitter.lm_vertical {
	.lm_drag_handle {
		height: 8px !important;
		top: -2px !important;
	}
}
.lm_tabs{
	padding-left:3px !important;
}
.lm_close {
	display: none !important;
}
.lm_splitter{
	opacity:1 !important;
}
