/*language bar*/
#lb {
	font-family: @APL_FONT;
	font-size: 18px;
	cursor: default;
	line-height: 22px;
	b {
		font-weight: normal;
		width: 22px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;
		margin-right: -4px;
		&:hover {
			background-color: @LB_BUTTON_HOVER;
		}
		&:active {
			background-color: @LB_BUTTON_ACTIVE;
		}
	}
	.lb_placeholder {
		vertical-align: bottom;
		background: rgba(0,0,0,0.2);
	}
	.ui-sortable-helper {
		color: @BLACK;
		cursor: move;
	}
}
#lb_prf {
	float: right;
	margin-right: 4px;
	width: 22px;
	height: 22px;
	background: no-repeat center center url(img/lb_prf.png);
	border-radius: 50%;
	&:hover {
		background-color: @LB_BUTTON_HOVER;
	}
	&:active {
		background-color: @LB_BUTTON_ACTIVE;
	}
}
#lb_tip {
	font-family: @APL_FONT;
	font-size: 18px;
	position: absolute;
	padding: 8px;
	margin-top: 16px;
	border-radius: 2px;
	background: @CREAM;
	box-shadow: 0 18px 48px @TRANSLUCENT_BLACK;
}
.dark {
	#lb_tip {
		background: @MID_GREY;
	}
	#lb_tip_tri {
		border-color: @MID_GREY;
	}
	#lb {
		.ui-sortable-helper {
			color: @WHITE;
			cursor: move;
		}
	}
}
#lb_tip_tri {
	position: absolute;
	border: solid;
	border-color: @CREAM;
	border-width: 0 16px 16px 16px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	background-color: transparent !important;
	content: "";
}
#lb_tip_desc {
	font-family: @APL_FONT;
	font-size: 18px;
	border-bottom: solid 1px @DARK_CREAM;
	padding-bottom: 8px;
	margin-bottom: 8px;
	text-align: center;
	text-transform: uppercase;
}
#lb_tip_text {
	font-family: @APL_FONT;
	font-size: 18px;
}