.lm_content{
	border:none !important;
}
// .lm_tabs{
// 	padding-left:3px !important;
// }
.lm_header {
	height: 25px !important;
	.lm_tab {
		padding:5px 15px 5px 10px !important;
		margin-top: 0!important;
		height:15px!important;
	}
}
.lm_close {
	display: none !important;
}
.lm_splitter{
	opacity:1 !important;
}
.lm_header .lm_tab .lm_title {
	padding: 0px 10px 2px 0px;
}
.lm_header .lm_tab .lm_close_tab{
	top: 4px !important;
	right: 6px !important;
};