#lb {
	font-family: @APL_FONT;
	font-size: 18px;
	cursor: default;
	b {
		font-weight: normal;
		width: 1em;
		padding:3px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;
		margin-right: -4px;
	}
	.lb_placeholder {
		vertical-align: bottom;
	}
	.ui-sortable-helper {
		cursor: move;
	}
}
#lb_tip {
	font-family: @APL_FONT;
	font-size: 18px;
	position: absolute;
	border-radius: 2px;
	hr {
		margin: 0;
	}
	div {
		padding: 8px;
	}
}
#lb_tip_body {
	overflow: auto;
}
#lb_tip_desc {
	text-align: center;
	text-transform: uppercase;
}
