#prf_dlg>hr{
	margin-top:0;
	margin-bottom: 15px;
}
#prf_nav {
	display: inline-block;
	width: 100%;
	a {
		float: left;
		height: 13px;
		padding: 4px 12px 4px 12px;
		text-decoration: none;
		color: @PRF_NAV_COL;
		margin: 11px 5px 8px;
	}
}
#prf_print {
	font-size: 20px;
  float: right;
  margin: 7px 20px 0px 0px;
  width: 28px;
}
#prf_content {
	padding:5px 10px 0;	
	button{
		padding:8px;
	}
	select{
		overflow: hidden;
		padding: 2px 34px 2px 4px;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-height:30px;
		box-shadow: none;
		font-weight:500;
		option{
			font-weight:500;
		}
	}
	.sub {
		margin-left: 24px;
	}
}

@media print {
  #prf_dlg {
    background: white;
    hr, #prf_nav, .dlg_btns, .dlg_title {
      display: none;
    }
  }
}

@PRF_CONTENT_TOP: 54px;
@PRF_CONTENT_BTM: 70px;