#prf_dlg>hr{
	border-top: 1px solid @HR_TOP;
	border-bottom: 1px solid @HR_BTM;
	margin-top:0;
	margin-bottom: 15px;
}
#prf_nav {
	// height: 28px;
	display: inline-block;
	width: 100%;
	// border-bottom: solid 1px @PRF_NAV_COL;
	a {
		float: left;
		height: 13px;
		padding: 4px 12px 4px 12px;
		text-decoration: none;
		color: @PRF_NAV_COL;
		margin: 11px 5px 8px;
	}
}
#prf_content {
	margin-top: -2px;
	padding:5px 10px 0;	
	button{
		border-radius:3px;
		padding:8px;
	}
	select{
		overflow: hidden;
		padding: 2px 34px 2px 4px;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-height:30px;
		box-shadow: none;
		font-weight:500;
		option{
			font-weight:500;
		}
	}	
}
  
@PRF_CONTENT_TOP: 54px;

@import './prefs_layout.less';
@import './prefs_shortcuts.less';
@import './prefs_code.less';
@import './prefs_colours.less';
@import './prefs_title.less';
@import './prefs_menu.less';
@import './prefs_windows.less';