#cn {
  input:not([type=button]):not([type=file]):not([type=submit]):not([type=checkbox]),textarea{
    border: 1px solid white;
    background-color: 	@CN_INPUT_BG;
    border-color:				@CN_INPUT_BORDER_COL;
    &:disabled{
      background-color:	@CN_INPUT_DIS_BG;
      border-color:	@CN_INPUT_BORDER_COL;
    }
  }
  select{
    background-color:	@CN_SELECT_BG;
  }
	label{
		color:#893d0a;
	}
}
#cn_favs {
	.go {
		border:1px solid #dad7ce;
		background:linear-gradient(to right bottom, @CN_LHS_COL 50%, #dad7ce 50%);
	}
	.list_sel{
		background:@PRIMARY;
		color: @WHITE;
	}
	.list-focus {
		outline: dotted @BLACK 1px;
	}
}
#cn_fav_btns {
  border-bottom:solid @CN_FAV_BTNS_BORDER_COL 1px;
  background:linear-gradient(lighten(@CN_INPUT_BG,5),darken(@CN_INPUT_BG,5));
  button{
    background-color:@CN_FAV_BTN_BG;
    color:@CN_FAV_BTN_FG;
  }
}
#cn_lhs {
	background: @CN_LHS_BG;
  border-right:1px solid @CN_HSPLIT_BORDER_COL;
}
#cn_rhs {
	border-left:8px solid @CN_HSPLIT;
	button{
		color:@CN_RHS_BUTTON_FG;
    background-color:@CN_RHS_BUTTON_BG;
	}
}
#cn_env_add {
	a {
		color: @CN_ENV_BTN_FG;
	}
}
