/*various dialogs*/
.dlg{
    background-color:@DLG_BG_COL;
    box-shadow:0 18px 48px @DLG_SHADOW_COL;
    border:1px solid @DLG_BORDER_COL;
}

.dlg_title{
  color:@INPUT_COL;
}

.dlg_close{
  color:@INPUT_COL;
}

.dlg_close:hover{
  background-color:@WHITE
}
.ui-dialog .ui-dialog-content.task_dlg .subtext,
.ui-dialog .ui-dialog-content.task_dlg .footer{
  color:@MID_GREY
}

#abt_contact{
  color:@BLACK;
}

#abt_contact a,
#abt_contact a:visited,
#abt_contact a:active{
  color:@ORANGE;
}