/*various dialogs*/
#dlg_modal_overlay {
  background-color: black;
  opacity: 0.2;
}

.dlg {
    background-color:@DLG_BG_COL;
    outline: none;
    div {
      outline: none;
    }
}

.dlg_title,.dlg_close{
  color:@DLG_TITLE_FG;
}

.dlg_close:hover{
  background-color:@DLG_CLOSE_HOVER_BG;
}
#cn_listen_dlg,#cn_connecting_dlg {
  border:1px solid @DLG_BORDER_COL;
}
#gd {
  &.dlg{
      background-color:@GD_BG_COL;
      // box-shadow:none;
      // border:none;
  }
  .dlg_title,.dlg_close{
    color:@GD_CLOSE_FG;
  }
  // .dlg_btns {
  //   background-color: @GD_BG_COL;
  // }  
  .dlg_close:hover{
    color:@GD_CLOSE_HOVER_FG;
    background-color:@GD_CLOSE_HOVER_BG;
  }
}

#gd_content{
  color: @LABEL_COL;
}
.dlg_btns {
  background-color: @DLG_BOTTOM_BG;
  button.task{
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    color:@GD_FG_COL;
    text-transform: none;
    font-size: small;
    font-weight: normal;
    text-align: left;
    border: 1px solid transparent;
  }
}