/*various dialogs*/
.dlg{
    background-color:@DLG_BG_COL;
    box-shadow:0 18px 48px @DLG_SHADOW_COL;
    border:1px solid @DLG_BORDER_COL;
}

.dlg_title,.dlg_close{
  color:@DLG_TITLE_FG;
}

.dlg_close:hover{
  background-color:@DLG_CLOSE_HOVER_BG;
}
#gd {
  &.dlg{
      background-color:@GD_BG_COL;
      box-shadow:0 18px 48px @DLG_SHADOW_COL;
      border:1px solid @DLG_BORDER_COL;
  }
  .dlg_title,.dlg_close{
    color:@GD_CLOSE_FG;
  }

  .dlg_close:hover{
    color:@GD_CLOSE_HOVER_FG;
    background-color:@GD_CLOSE_HOVER_BG;
  }
}

#gd_content{
  color: @GD_FG_COL;
}
.dlg_btns {
  button {
    color:@CN_RHS_BUTTON_FG;
    background-color:@CN_RHS_BUTTON_BG;
  }
  button.task{
    color:@GD_FG_COL;
  }
}

#abt_contact,
#abt_contact a,
#abt_contact a:visited,
#abt_contact a:active{
  color:@DLG_CONTACT_FG;
}