#lb {
	background-color:@LB_BG_COL;
	border-top:1px black solid;
	border-bottom:1px black solid;
	#lb_inner{
		background:@LB_BG_COL;
	}
	b {
		color:@LB_BUTTON_COL;
		&:hover {
			background-color: @LB_BUTTON_HOVER;
		}
		&:active {
			background-color: @LB_BUTTON_ACTIVE;
		}
	}
	.lb_placeholder {
		background: rgba(0,0,0,0.2);
	}
	.ui-sortable-helper {
		color: black;
	}
}
#lb_prf {
	&:hover {
		background-color: @LB_BUTTON_HOVER;
	}
	&:active {
		background-color: @LB_BUTTON_ACTIVE;
	}
}
#lb_tip {
	background: @LB_TIP_BG;
	//box-shadow: 0 18px 48px @TRANSLUCENT_BLACK;
	box-shadow:none;
	color:@LB_TIP_COL;
}
#lb_tip_tri {
	border-color: @LB_TIP_BG;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	background-color: transparent !important;
}
#lb_tip_desc {
	border-bottom: solid 1px @LB_TIP_HR;
}