/*menu (see ../src/menu.js for the DOM structure)*/
@HOVER_COL: fade(black, 20);
.menu {
	background-color: @MENU_BG;
	border-bottom: solid grey 1px;
	a, a:hover {
    color: black;
    font-size: 0.8em;
	}
	.m-open {
		background: @HOVER_COL;
		.m-top {
			border-color:transparent;
		}
	}
	.m-box {
		background-color: white;
		border-color: @HOVER_COL;
		a {
			border:none;
			border-color: @MENU_BG;
			.m-shc {
				color: @INPUT_COL;
			}
			&:focus {
				background: @HOVER_COL;
				// color: white;
				// .m-shc {
				// 	color: white;
				// }
			}
			&.m-checked{
				background: transparent 5px center no-repeat url(img/menu_chk.png);
			}
			&:focus.m-checked {
				background: @HOVER_COL 5px center no-repeat url(img/menu_chk.png);
			}
		}
	}
	// .m-opener {
	// 	background: transparent center right 5px no-repeat url(img/menu_tri.png);
	// 	&:focus {
	// 		background: lighten(@MENU_BG,10) center right 5px no-repeat url(img/menu_tri_wht.png);
	// 	}
	// }
}
