// .disconnected .monaco-editor-background,.disconnected .monaco-editor .margin {
//   background-color:@ME_DICONNECTED; /*beige*/
// }
.breakpointarea{
  border-right: 1px solid @GLYPHMARGIN_BRD_COL;
  cursor: pointer;
  &:hover::before{
    color: fade(red, 50);
    content: '⬤';
    font-size: 0.7em;
  }
  &.breakpoint::before{
    color: red;
    content: '⬤';
    font-size: 0.8em;
  }
}
.highlighted{
  border:none;
  outline:solid @ME_HIGHLIGHTED 1px;
}
.sessionmargin{
  border-right: 1px solid @GLYPHMARGIN_BRD_COL;
  font-size: 1em;
  &.group_start::before{
    content: '┌';
  }
  &.group_middle::before{
    content: '│';
  }
  &.group_end::before{
    content: '└';
  }
  &.modified:not(.group_start,.group_middle,.group_end)::before{
    content: '∙';
  }
  &.modified::before{
    color: red;
  }
}
