/*scrollbars; see ../src/scrl.js*/
.cm-scroll {
	background: @CREAM;
	a {
		background: @DARK_CREAM;
		color: @MID_GREY;
		&:hover {
			background: @VERY_LIGHT_GREY;
			color: @LIGHT_BLACK;
		}
	}
	a.press {
		background: @GREY !important;
		color: @BLACK !important;
	}
	.btn {
		color: @MID_GREY;
	}
}