::-webkit-scrollbar-track {
  background-color: @SCROLL_BG;
  border-left: 1px solid @GL_SPLITTER_TOP;
}

::-webkit-scrollbar-thumb {
  border-left: 1px solid @GL_SPLITTER_TOP;
  background-color: @SCROLL_BTN_BG;
} 
