#sb {
	background-color: @STATUSBAR_BG_COL;
	border-top:1px solid @GL_SPLITTER_TOP;
  	color:@LB_BUTTON_COL;
  	font-family: @APL_FONT;
	div.active {
		color: @STATUSBAR_ACTIVE_COL;
	}
}
#sb_left>div {
  	border-right: 1px solid @STATUSBAR_SEP_COL;
}   
#sb_right>div {
  	border-left: 1px solid @STATUSBAR_SEP_COL;
}
#sb.alert,
#sb_left.alert,
#sb_right.alert {
  background-color: #ff4d4f !important;
  color: white !important;
  font-weight: bold;
  border-top: 2px solid #cc0000;
}
