@TOOLBAR_BG_COL:lighten(@WIN_BG_COL,5%);
.toolbar{
        background-color: @TOOLBAR_BG_COL;
        border-bottom:solid @VERY_LIGHT_GREY 1px
}
.tb_btn.pressed{background-color:rgba(0,0,0,0.2)}
.tb_btn:hover  {background-color: rgba(0,0,0,0.1)}
.tb_btn:active {background-color:rgba(0,0,0,0.2)}